@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0); }

  50% {
    -webkit-transform: rotate(10deg); }

  100% {
    -webkit-transform: rotate(-10deg); } }
@-moz-keyframes shake {
  0% {
    -moz-transform: rotate(0); }

  50% {
    -moz-transform: rotate(10deg); }

  100% {
    -moz-transform: rotate(-10deg); } }
@keyframes shake {
  0% {
    transform: rotate(0); }

  50% {
    transform: rotate(10deg); }

  100% {
    transform: rotate(-10deg); } }
body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Press Start 2P", sans-serif;
  font-size: 10px;
  line-height: 1.5; }

button,
input,
textarea {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1em; }

.site-top {
  background-color: white;
  padding: 2em;
  text-align: center; }
  .site-top h1,
  .site-top p {
    text-transform: uppercase; }
  .site-top h1 {
    font-size: 3em;
    margin-bottom: 0.3em; }
  .site-top p {
    font-size: 1.2em; }

.game-board .numbers {
  background-color: white;
  left: 50%;
  padding: 3em;
  position: fixed;
  text-align: center;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .game-board .numbers h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
    text-transform: uppercase; }
  .game-board .numbers li {
    display: inline-block; }
  .game-board .numbers button {
    background: none;
    border: 4px solid black;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
    .game-board .numbers button:hover, .game-board .numbers button:focus {
      background-color: black;
      color: white;
      -webkit-animation: shake 500ms ease-in-out infinite alternate;
      -moz-animation: shake 500ms ease-in-out infinite alternate;
      animation: shake 500ms ease-in-out infinite alternate; }
.game-board .player-one,
.game-board .player-two {
  bottom: 0;
  padding: 4em;
  position: absolute;
  text-align: center;
  top: 112px;
  width: 50%;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.game-board .player-one {
  background-color: #3366ff;
  left: 0; }
.game-board .player-two {
  background-color: #ee5522;
  right: 0; }
.game-board h2 {
  font-size: 2em;
  margin-bottom: 3em; }
.game-board .hand {
  background: url("/static/img/hands-left.svg") no-repeat left top transparent;
  display: inline-block;
  height: 120px;
  width: 200px;
  -webkit-animation: shake 500ms ease-in-out infinite alternate;
  -moz-animation: shake 500ms ease-in-out infinite alternate;
  animation: shake 500ms ease-in-out infinite alternate;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }
  .game-board .hand.number-0 {
    background-position: 0px top; }
  .game-board .hand.number-1 {
    background-position: -230px top; }
  .game-board .hand.number-2 {
    background-position: -460px top; }
  .game-board .hand.number-3 {
    background-position: -690px top; }
  .game-board .hand.number-4 {
    background-position: -920px top; }
  .game-board .hand.number-5 {
    background-position: -1150px top; }
.game-board .player-two .hand {
  background-image: url("/static/img/hands-right.svg");
  -webkit-animation: shake 500ms ease-in-out infinite alternate;
  -moz-animation: shake 500ms ease-in-out infinite alternate;
  animation: shake 500ms ease-in-out infinite alternate;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }
