{% extends 'base.html' %}

{% block content %}
  <h1>Match</h1>
  <table border="1">
    <thead>
      <tr>
        {% for move in match.get_moves %}
          <th>{{ move.get_choice_display }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for move in match.get_moves %}
          <td>
            {{ move.player.username }}
            {% if move.player.id == user.id %}
              <form action="{% url 'play' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="match-id" name="match-id" value="{{ match.id }}">
                <ul>
                  {% for i in '012345' %}
                  <li>
                    <input type="radio" name="value" value="{{ i }}"> {{ i }}
                  </li>
                  {% endfor %}
                </ul>
              </form>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <script type="text/javascript">
    function check_result () {
      var match_id = $("#match-id").val();
      $.ajax({
        url: '/check_result/',
        data: $('form').serialize(),
        type: 'post',
        cache: false,
        success: function (data) {
          if (data != "-1") {
            document.location = "/match/" + match_id + "/result/";
          } 
        },
        complete: function() {
          window.setTimeout(check_result, 5000);
        }
      });
    }

    $(function () {
      $("input[name=value]").click(function () {
        var match_id = $("#match-id").val();
        $.ajax({
          url: '/play/',
          data: $('form').serialize(),
          type: 'post',
          cache: false,
          beforeSend: function () {
            $('input[name=value]').prop('disabled', true);
          },
          success: function (data) {
            if (data != "-1") {
              document.location = "/match/" + match_id + "/result/";
            }
            else {
              check_result();
            }
          }
        });
      });
    });
  </script>
{% endblock content %}