{% extends 'base.html' %}

{% block content %}
  <h1>Waiting for a match...</h1>
  <form action="{% url 'cancel' %}" method="post">
    <input type="hidden" id="queue-id" name="queue-id" value="{{ queue.id }}">
    {% csrf_token %}
    <button type="submit">Cancel</button>
  </form>
  <script type="text/javascript">
    function check_queue_status () {
      $.ajax({
        url: '/check_queue/',
        data: $('form').serialize(),
        type: 'post',
        cache: false,
        success: function (data) {
          if (data != "-1") {
            document.location = "/match/" + data + "/picking/";
          } 
        },
        complete: function() {
          window.setTimeout(check_queue_status, 5000);
        }
      });
    }
    check_queue_status();
  </script>
{% endblock content %}